@section NavigationBar {

    <nav>
        <!-- Navigation -->
        <ul>
            @foreach (var itemMenu in new[] { "Blog", "Fans", "About", "Contact" }) {
                <li class="@(ViewBag.Selected == @itemMenu ? "selected": String.Empty)">
                    <a href="@itemMenu">@itemMenu</a>
                </li>
            }
            <li class="subscribe">
                <div id="transDemo2">
                    <div class="hover">
                        <img src=http://www.ashlylorenzana.com/wp-content/uploads/2013/12/12065637851779660844SRD_RSS_Logo.svg_.hi_.png width="30" height="30">
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Subscribe via. RSS</a>
            </li>
        </ul>
    </nav>

}